<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/style.css">
    <title>Edit your Pokemon</title>
</head>
<body>

<h2>Edit Your Pokemon</h2>
<form action="/pokemon/<%=id%>?_method=PUT" method="POST">
Name: <input type="text" name="name" value="<%= pokemon.name %>"/><br/>
Image: <input type="text" name="img" value="<%= pokemon.img %>"/><img src="<%= pokemon.img %>"/><br/>
<br/>
<input type="submit" value="Submit Changes"/>
</form>

</body>
</html>