body {
    background-color: darkslategray;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    color: white;
    font-family: 'Nanum Brush Script', cursive;
}

.h2 {
    color: white;
    align-content: center;
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
}

li {
    color: white;
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
}